<h1>Welcome Backpackers!</h1>
<h2>Sign Into Your Account</h2>

<%= flash[:error] %>

<%= form_with url: '/sessions' do |f| %>
	<%= f.text_field :username, placeholder: 'username' %>
	<%= f.password_field :password, placeholder: 'password' %>
	<%= f.submit %>
<% end %> 

<h4>Not a member already? <%= link_to "Signup!", signup_path %></h4>