<h1>Welcome Back!</h1>
<h2>Sign Into Your Account</h2>

<%= flash[:error] %>

<%= form_with url: '/sessions' do |f| %>
	<%= f.text_field :username, placeholder: 'username' %>
	<%= f.password_field :password, placeholder: 'password' %>
	<%= f.submit %>
<% end %> 