<%= form_for @user do |f| %>
  <p>Username: <%= f.text_field :username %><br /><p>
  <p>Email: <%= f.text_field :email %><br /></p>
  <p>Password: <%= f.password_field :password %><br /></p>
  <p>Password Confirmation: <%= f.password_field :password_confirmation %><br /></p>
  <p><%= f.submit %></p>
<% end %>
<p><%= button_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= button_to "Back", '/users', method: 'get' %></p>