<%= form_with model: picture do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if picture.img_url %>
  <div class="field">
      <img src= <%= picture.img_url %> width="167" height="117">
  </div>
  <% end  %>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <p>Existing Tags: <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name%></p>
  </div>

  <div>
    <p>Add Tag: <%= form.fields_for :tags, picture.tags.build do |tags_fields| %>
    <%= tags_fields.text_field :name %>
    <% end %></p>
  </div>

  <div>
    <p>Add Comment: <%= form.fields_for :comments, picture.comments.build do |comments_fields| %>
    <%= comments_fields.text_field :content %>
    <% end %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  
<% end %>
