<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
<!--   <strong>Image: </strong> -->
  <img src= <%= @picture.img_url %> width="500" height="350" ><br />
</p>

<p>
  <strong>Tags:</strong>
  <% @picture.tags.map do |tag| %>
  <td><%= tag.name %></td>
  <% end %>
</p>

<p>
  <strong>Comments:</strong>
  <% @picture.comments.map do |comment| %>
  <li>"<%= comment.content %>" - by <%= comment.user.username %></li>
  <% end %>
</p>

<%= render template: "comments/new.html.erb", :picture => @picture %>

<p>
  <strong>Backpacker Contact Info:</strong>
  <%= @picture.user.username %> |
  <%= @picture.user.email %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
