<p id="notice"><%= notice %></p>

<p>
  <strong>Image: </strong>
  <img src= <%= @picture.img_url %> width="500" height="350" ><br />
</p>

<p>
  <strong>Tags:</strong>
  <% @picture.tags.map do |tag| %>
  <%= tag.name %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user.username %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
