<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
<!--   <strong>Image: </strong> -->
  <img src= <%= @picture.img_url %> width="525" height="360" ><br />
</p>

<p>
  <strong>Tags:</strong>
  <% @picture.tags.map do |tag| %>
  <td><%= tag.name %></td>
  <% end %>
</p>

<p>
  <strong>Comments:</strong>
  <% @picture.comments.map do |comment| %>
  <li>"<%= comment.content %>" - by <%= link_to comment.user.username, comment.user %></li>
  <% end %>
</p>

<%= render template: "comments/new.html.erb", :picture => @picture %>

<p>
  <strong>Backpacker Contact Info:</strong>
  <%= @picture.user.username %> |
  <%= @picture.user.email %>
</p>

<%= link_to 'Back', pictures_path %>
