<!DOCTYPE html>
<html>
  <head>
    <title>PicPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if session[:user_id] %>
        <%= link_to "Your Home", users_path %> | 
        <%= link_to "PicPost Feed", pictures_path %> | 
        <%= link_to "Logout", '/sessions', method: 'delete' %>
    <% end %>
    <%= yield %>
  </body>
</html>
